---
import globals from "../utils/globals";
import { getHomePosts } from "../utils/api";

import Global from "../layouts/global.astro";
import NewsletterSignup from "../components/NewsletterSignup.astro";
import PostExcerpt from "../components/PostExcerpt.astro";

interface Props {
  page: pageObj;
}

interface pageObj {
  data: dataObj[];
  start: number;
  end: number;
  size: number;
  total: number;
  currentPage: number;
  lastPage: number;
  url: urlObj;
}

interface dataObj {
  excerpt: any;
  slug: string;
  featuredImage: any;
  author: any;
  title: string;
}

interface urlObj {
  current: string;
  next: string | undefined;
  prev: string | undefined;
}

// https://docs.astro.build/en/guides/routing/#pagination
export async function getStaticPaths({ paginate }: any) {
  const posts = await getHomePosts();
  return paginate(posts, { pageSize: globals.postsPerPage });
}
const { page } = Astro.props;
---

<Global>
  <div class="mx-auto max-w-inner-sm space-y-8 pb-32">
    <h1 class="text-large">
      A network-native social computer doesn&rsquo;t exist. Unless?
    </h1>
    <NewsletterSignup />
  </div>

  {
    page.data && (
      <div class="space-y-16">
        {page.data.map((post: any) => (
          <PostExcerpt
            author={post.author}
            excerpt={post.excerpt}
            featuredImage={post.featuredImage}
            slug={post.slug}
            title={post.title}
          />
        ))}
      </div>
    )
  }

  {
    page.total >= globals.postsPerPage && (
      <nav class="mx-auto max-w-inner-sm pt-32">
        <ul class="flex">
          {page.url.prev && (
            <li class="grow">
              <a class="hover:underline" href={page.url.prev}>
                Previous
              </a>
            </li>
          )}
          {page.url.next && (
            <li class="grow text-right">
              <a class="hover:underline" href={page.url.next}>
                Next
              </a>
            </li>
          )}
        </ul>
      </nav>
    )
  }
</Global>
