---
import Picture from "./Picture.astro";
import { PortableText as PortableTextInternal } from "astro-portabletext";

import { type BlockImage, type AuthorObj } from "../utils/types";

interface Props {
  author: AuthorObj;
  excerpt: any;
  featuredImage: BlockImage;
  slug: string;
  title: string;
}

const { author, excerpt, featuredImage, slug, title } = Astro.props;
---

<div>
  <a class="mx-auto" href={`/post/${slug}`}>
    <div class="mx-auto max-w-inner-xs items-center">
      <div class="mx-auto inline-block">
        <Picture asset={featuredImage} visualMaxWidth={1120} />
      </div>
      <header class="flex items-center py-1">
        <h2 class="inline-block text-lg">
          {title}
          <span class="whitespace-nowrap opacity-40">{author.label}</span>
        </h2>
      </header>
      <div
        class="prose prose-lg prose-tlon text-justify leading-tight dark:prose-invert"
      >
        <PortableTextInternal value={excerpt} />
      </div>
    </div>
  </a>
</div>
