---
import { type BlockImage } from "../utils/types";

import GlobalLayout from "../layouts/global.astro";
import Picture from "./Picture.astro";
import PageTitle from "./PageTitle.astro";
import PortableText from "./PortableText.astro";

interface Props {
  body?: any;
  featuredImage?: BlockImage;
  metaDescription?: string;
  metaTitle?: string;
  title: string;
  titleAlignment: string;
}

const {
  body,
  featuredImage,
  metaDescription,
  metaTitle,
  title,
  titleAlignment,
} = Astro.props;
---

<GlobalLayout
  metaDescription={metaDescription}
  metaTitle={metaTitle ? metaTitle : title}
>
  <div>
    <header class="mx-auto max-w-inner-sm">
      <PageTitle title={title} titleAlignment={titleAlignment} />
    </header>

    {
      featuredImage && (
        <div class="mx-auto flex max-w-inner-lg items-center py-16">
          <Picture asset={featuredImage} visualMaxWidth={1120} />
        </div>
      )
    }

    {
      body && (
        <div class="mx-auto max-w-inner-sm">
          <PortableText portableText={body} />
        </div>
      )
    }
  </div>
</GlobalLayout>
