---
import Author from "./Author.astro";
import Picture from "./Picture.astro";
import PortableText from "./PortableText.astro";

import { type BlockImage, type AuthorObj } from "../utils/types";

interface Props {
  author: AuthorObj;
  excerpt: string;
  featuredImage: BlockImage;
  slug: string;
  title: string;
}

const { author, excerpt, featuredImage, slug, title } = Astro.props;
---

<div>
  <div class="mx-auto flex max-w-inner-lg items-center">
    <a class="mx-auto inline-block" href={`post/${slug}`}>
      <Picture asset={featuredImage} visualMaxWidth={1120} />
    </a>
  </div>
  <div class="mx-auto max-w-inner-sm space-y-3 pt-20">
    <h2 class="text-xl">
      <a href={`post/${slug}`}>
        {title}
      </a>
    </h2>
    <Author author={author} />
    <PortableText portableText={excerpt} />
  </div>
</div>
