---
import { format } from "date-fns";
import { type AuthorObj, type BlockImage } from "../utils/types";

import Author from "./Author.astro";
import Picture from "./Picture.astro";

interface Props {
  author: AuthorObj;
  created: string;
  featuredImage: BlockImage;
  slug: string;
  title: string;
}

const { author, created, featuredImage, slug, title } = Astro.props;
---

<article
  class="rounded-[24px] border border-blackish/10 hover:border-blackish/30"
>
  <a class="inline-block p-8" href={`/post/${slug}`}>
    <div class="flex justify-center">
      <Picture asset={featuredImage} visualMaxWidth={300} />
    </div>
    <div class="space-y-4 pt-4">
      <h6 class="text-lg leading-9">{title}</h6>
      <Author author={author} large={false} link={false} />
      <time class="text-md inline-block text-mono-500" datetime={created}>
        {format(new Date(created), "MMMM d, yyyy")}
      </time>
    </div>
  </a>
</article>
