---
import { format } from "date-fns";
import { type AuthorObj, type ImageObj } from "../utils/commonTypes";

import Author from "./Author.astro";
import Picture from "./Picture.astro";

interface Props {
  author: AuthorObj;
  created: string;
  featuredImage: ImageObj;
  slug: string;
  title: string;
}

const { author, created, featuredImage, slug, title } = Astro.props;
---

<article
  class="rounded-[24px] border border-blackish/10 hover:border-blackish/30"
>
  <a class="inline-block p-8" href={`/post/${slug}`}>
    <Picture
      asset={featuredImage.image}
      alt={featuredImage.alt}
      maxWidth={300}
    />
    <div class="space-y-4 pt-4">
      <h6 class="text-lg leading-9">{title}</h6>
      <Author name={author.name} avatar={author.avatar} large={false} />
      <time class="text-md inline-block text-mono-500" datetime={created}>
        {format(new Date(created), "MMMM d, yyyy")}
      </time>
    </div>
  </a>
</article>
