---
const pageTitle = 'Tlon Corporation';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://rsms.me/">
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
		
		<!-- Primary Meta Tags -->
		<title>{pageTitle}</title>
		<meta name="title" content={pageTitle}>
		<meta name="description" content="Tlon exists to build exceptionally well-crafted software for people’s everyday lives.">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://tlon.io/">
		<meta property="og:title" content={pageTitle}>
		<meta property="og:description" content="Tlon exists to build exceptionally well-crafted software for people’s everyday lives.">
		<meta property="og:image" content="">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://tlon.io/">
		<meta property="twitter:title" content={pageTitle}>
		<meta property="twitter:description" content="Tlon exists to build exceptionally well-crafted software for people’s everyday lives.">
		<meta property="twitter:image" content="">
	</head>
	<body class="
		p-8 
		lg:p-32
		text-xl
		antialiased 
		text-stone-800 
		dark:bg-stone-800 
		dark:text-stone-300
	">
		<slot/>
	</body>
</html>

<style>
	:root { font-family: 'Inter', sans-serif; }
	@supports (font-variation-settings: normal) {
	:root { font-family: 'Inter var', sans-serif; }
	}
</style>