---
import { type BlockImage, type BlockVideo } from "../utils/types";

import GlobalLayout from "../layouts/GlobalLayout.astro";
import Picture from "../components/Picture.astro";
import PageTitle from "../components/PageTitle.astro";
import PortableText from "../components/PortableText.astro";
import Video from "../components/Video.astro";

interface Props {
  body?: any;
  featuredImage?: BlockImage;
  featuredVideo?: BlockVideo;
  metaDescription?: string;
  metaTitle?: string;
  title: string;
  titleAlignment: string;
}

const {
  body,
  featuredImage,
  featuredVideo,
  metaDescription,
  metaTitle,
  title,
  titleAlignment,
} = Astro.props;
---

<GlobalLayout
  metaDescription={metaDescription}
  metaTitle={metaTitle ? metaTitle : title}
>
  <div>
    <header class="max-w-inner-xs md:max-w-inner-sm mx-auto">
      <PageTitle title={title} titleAlignment={titleAlignment} />
    </header>

    {
      featuredImage && !featuredVideo && (
        <div class="mx-auto flex max-w-inner-lg items-center py-16">
          <Picture asset={featuredImage} visualMaxWidth={1120} />
        </div>
      )
    }

    {
      featuredVideo && (
        <div class="mx-auto max-w-inner-lg py-16">
          <Video asset={featuredVideo} />
        </div>
      )
    }

    {
      body && (
        <div class="max-w-inner-xs md:max-w-inner-sm mx-auto pt-16">
          <PortableText portableText={body} />
        </div>
      )
    }
  </div>
</GlobalLayout>
